.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
body{
  background-color: steelblue;
}
.header{
  position: sticky;
  top: 0; 
  background-color: lightsteelblue;
  border: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.pokeList{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.caught{
  margin: 5px 20px;
  padding-bottom: 10px;
  border: 1px solid black;
  width: 150px;
  background-color: #09d3ac;
}
.notCaught{
  margin: 5px 20px;
  padding-bottom: 10px;
  border: 1px solid black;
  width: 150px;
  background-color: lightcoral;
}
